<div>
  <h1> Refill Charlie Card </h1>
  <%= form_with model: @refill, class: "refill-form" do |f| %>
    <%= f.text_field :security_code %>
    <%= f.check_box :use_default_charlie_card %>
    <%= f.select :refill_amount do %>
      <%= options_for_select @refill.default_refill_amounts %>
    <% end %>

    <%= f.submit "Refill" %>
  <% end %>
</div>
